.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Security and Credentials
OAuth/
.env
.env.*
*.pem
*.crt
*.pfx
*.jks
*.key
secrets.json
secrets.yaml

# Large Files and Binary Assets
*.bin
model.bin


# Android
.settings/
.project
.classpath
build/
*.iml
.gradle/
local.properties

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# iOS
service_account.json
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh


